<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Messenger Stats</title>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- <link href="{% static 'css/blog.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'css/dist.min.css' %}" rel="stylesheet"> -->
    <link href="css/dist.min.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
            <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-center align-items-center">
                <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">
                    <h1>
                            Messenger Stats
                    </h1>
                </a>
                </div>
            </div>
            </header>
    <div id='word-cloud'>
    </div>
    
    <% if(images){ %>
        <h3 class="mt-5">Most popular images</h3>
        <canvas id="barChartImages" width="100%" height="20"></canvas>
    <%
    }
    %>

    <h3 class="mt-5">Best messages by number of reactions</h3>
    <canvas id="barChartAllMessages" width="100%" height="20"></canvas>

    <h3 class="mt-5">The all stars images</h3>

    <div class='d-flex justify-content-center mt-3'>
        <% best_images.forEach((image)=>{%>
            <div class='m-5'>
                <img src="<%= image.url %>" class='best-img'>
                <p class='text-center'><%= image.author %></p>
            </div>
        <%});%>
    </div>
    
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="js/sigma.min.js"></script>
    <% if(images){ %>
    <script type="text/javascript">
    var ctx = document.getElementById('barChartImages').getContext('2d');

    var myBarChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
          labels: [
          <% images.slice(0,10).forEach(message => { %>'<%- message["author"] %>',<% }) %>
          ],
          datasets: [{
              label: 'Messages',
              backgroundColor: '#3b5998',
              borderColor: '#3b5998',
              data: [
              <% images.slice(0,10).forEach(message => { %>'<%- message["reactions"].length %>',<% }) %>
              ]
          }]
        },
        options: {
          scales: {
              xAxes: [{
                  stacked: true
              }],
              yAxes: [{
                  stacked: true
              }]
          }
        }
    });
  </script> 
  <% }; %>

  <script type="text/javascript">
      var ctx = document.getElementById('barChartAllMessages').getContext('2d');
  
      var myBarChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
              labels: [
              <% all.slice(0,10).forEach(message => { %>'<%- message["author"] %>',<% }) %>
              ],
              datasets: [{
                  label: 'Reactions',
                  backgroundColor: '#3b5998',
                  borderColor: '#3b5998',
                  data: [
                  <% all.slice(0,10).forEach(message => { %>'<%- message["reactions"].length %>',<% }) %>
                  ]
              }]
          },
          options: {
              scales: {
                  xAxes: [{
                      stacked: true
                  }],
                  yAxes: [{
                      stacked: true
                  }]
              }
          }
      });
      </script>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="js/d3.layout.cloud.js"></script>
      <script>

            var frequency_list = [<% data["words_cloud_input"].forEach((message)=>{%><%- JSON.stringify(message) %>,<%})%>]
        
        
            var color = d3.scale.linear()
                    .domain([0,1,2,3,4,5,6,10,15,20,100])
                    .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);
        
            d3.layout.cloud().size([800, 300])
                    .words(frequency_list)
                    .rotate(0)
                    .fontSize(function(d) { return d.size; })
                    .on("end", draw)
                    .start();
        
            function draw(words) {
                d3.select("#word-cloud").append("svg")
                        .attr("width", 850)
                        .attr("height", 350)
                        .attr("class", "wordcloud")
                        .append("g")
                        // without the transform, words words would get cutoff to the left and top, they would
                        // appear outside of the SVG area
                        .attr("transform", "translate(320,200)")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", function(d) { return d.size + "px"; })
                        .style("fill", function(d, i) { return color(i); })
                        .attr("transform", function(d) {
                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .text(function(d) { return d.text; });
            }
        </script>
  </body>